# OS
*.log
**/*.log
.DS_Store
**/.DS_Store
./idea

# Dependencies
**/node_modules

# React App
build
.env
env/
src/config.js


# Firebase
*.cache

# Functions
functions/etc
functions/dist
functions/.runtimeconfig.json

# IDE
*.code-workspace
functions/config.js