@import './variable';

.primaryBox {
    background: none;
    color: $color_font_p;
    transition: 1s all;
    &:hover {
        background: $color_red;
        color: #fff;
    }
}
.container {
    min-height: 300px;
    padding: 0 20px;
}

h1 {
    color: $color_font_title;
    font-size: $font_size_3;
    font-weight: bold;
    line-height: 40px;
    margin: 20px 0;
}

h2 {
    color: $color_font_title;
    font-size: $font_size_2;
    font-weight: bold;
    line-height: 40px;
}
::placeholder {
    color: $color_dark_grey;
}
