$color_red: #FF2D37;
$color_light_grey: #F5F6FA;
$color_dark_grey: #667696;
$color_font_title: #05355B;
$color_font_p: #667696;

$font_size_0: 12px;
$font_size_1: 14px;
$font_size_2: 16px;
$font_size_3: 18px;

$border_1: 1px solid #c9cee1;

