@import '../../styles/variable';
.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  background: #fff;
  border-bottom: $border_1;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  .ant-menu {
    border: none;
  }
  .nav-item {
    font-weight: bold;
    border-bottom: none !important;
    &:not(.ant-menu-item-selected) > a {
      color: inherit;
    }
  }
}
