
@import '../../styles/variable';
.login-container {
  width: 100%;
  max-width: 600px;
  margin: 150px auto;
  background: #FFF8F5;
  text-align: center;
  padding: 40px 100px;
  border-radius: 10px;
  border: $border_1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .input-box {
    height:50px;
    .ant-input {
      border: $border_1;
      outline: none;
      color: $color_font_title;
      box-shadow: none;
      &:hover, &:focus {
        border: $border_1;
      }
    }
  }
  .login-form-button {
    width: 220px;
    height: 50px;
  }
  .ant-form-explain {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
  }
  .logo {
    width: 200px;
    margin-bottom: 30px;
  }
}